<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coca.shoppingsmsservice.mapper.SmsCouponMapper">
    <resultMap id="BaseResultMap" type="com.coca.shoppingmodel.entity.sms.SmsCoupon">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="platform" jdbcType="INTEGER" property="platform" />
        <result column="count" jdbcType="INTEGER" property="count" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="per_limit" jdbcType="INTEGER" property="perLimit" />
        <result column="min_point" jdbcType="DECIMAL" property="minPoint" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="use_type" jdbcType="INTEGER" property="useType" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="publish_count" jdbcType="INTEGER" property="publishCount" />
        <result column="use_count" jdbcType="INTEGER" property="useCount" />
        <result column="receive_count" jdbcType="INTEGER" property="receiveCount" />
        <result column="enable_time" jdbcType="TIMESTAMP" property="enableTime" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="member_level" jdbcType="INTEGER" property="memberLevel" />
    </resultMap>
</mapper>
