<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coca.shoppingmbg.mapper.OmsOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.coca.shoppingmbg.model.OmsOrderItem">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Order_Id" jdbcType="INTEGER" property="orderId" />
    <result column="Order_No" jdbcType="VARCHAR" property="orderNo" />
    <result column="SkuId" jdbcType="INTEGER" property="skuid" />
    <result column="SkuCode" jdbcType="VARCHAR" property="skucode" />
    <result column="Qty" jdbcType="INTEGER" property="qty" />
    <result column="Price" jdbcType="DECIMAL" property="price" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CreateBy" jdbcType="VARCHAR" property="createby" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="UpdateBy" jdbcType="TIMESTAMP" property="updateby" />
    <result column="IsDelete" jdbcType="BIT" property="isdelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, Order_Id, Order_No, SkuId, SkuCode, Qty, Price, CreateTime, CreateBy, UpdateTime, 
    UpdateBy, IsDelete
  </sql>
  <select id="selectByExample" parameterType="com.coca.shoppingmbg.model.OmsOrderItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oms_order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_order_item
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oms_order_item
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.coca.shoppingmbg.model.OmsOrderItemExample">
    delete from oms_order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.coca.shoppingmbg.model.OmsOrderItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_order_item (Order_Id, Order_No, SkuId, 
      SkuCode, Qty, Price, 
      CreateTime, CreateBy, UpdateTime, 
      UpdateBy, IsDelete)
    values (#{orderId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{skuid,jdbcType=INTEGER}, 
      #{skucode,jdbcType=VARCHAR}, #{qty,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateby,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.coca.shoppingmbg.model.OmsOrderItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        Order_Id,
      </if>
      <if test="orderNo != null">
        Order_No,
      </if>
      <if test="skuid != null">
        SkuId,
      </if>
      <if test="skucode != null">
        SkuCode,
      </if>
      <if test="qty != null">
        Qty,
      </if>
      <if test="price != null">
        Price,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="createby != null">
        CreateBy,
      </if>
      <if test="updatetime != null">
        UpdateTime,
      </if>
      <if test="updateby != null">
        UpdateBy,
      </if>
      <if test="isdelete != null">
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="skuid != null">
        #{skuid,jdbcType=INTEGER},
      </if>
      <if test="skucode != null">
        #{skucode,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.coca.shoppingmbg.model.OmsOrderItemExample" resultType="java.lang.Long">
    select count(*) from oms_order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oms_order_item
    <set>
      <if test="row.id != null">
        Id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.orderId != null">
        Order_Id = #{row.orderId,jdbcType=INTEGER},
      </if>
      <if test="row.orderNo != null">
        Order_No = #{row.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="row.skuid != null">
        SkuId = #{row.skuid,jdbcType=INTEGER},
      </if>
      <if test="row.skucode != null">
        SkuCode = #{row.skucode,jdbcType=VARCHAR},
      </if>
      <if test="row.qty != null">
        Qty = #{row.qty,jdbcType=INTEGER},
      </if>
      <if test="row.price != null">
        Price = #{row.price,jdbcType=DECIMAL},
      </if>
      <if test="row.createtime != null">
        CreateTime = #{row.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.createby != null">
        CreateBy = #{row.createby,jdbcType=VARCHAR},
      </if>
      <if test="row.updatetime != null">
        UpdateTime = #{row.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updateby != null">
        UpdateBy = #{row.updateby,jdbcType=TIMESTAMP},
      </if>
      <if test="row.isdelete != null">
        IsDelete = #{row.isdelete,jdbcType=BIT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oms_order_item
    set Id = #{row.id,jdbcType=INTEGER},
      Order_Id = #{row.orderId,jdbcType=INTEGER},
      Order_No = #{row.orderNo,jdbcType=VARCHAR},
      SkuId = #{row.skuid,jdbcType=INTEGER},
      SkuCode = #{row.skucode,jdbcType=VARCHAR},
      Qty = #{row.qty,jdbcType=INTEGER},
      Price = #{row.price,jdbcType=DECIMAL},
      CreateTime = #{row.createtime,jdbcType=TIMESTAMP},
      CreateBy = #{row.createby,jdbcType=VARCHAR},
      UpdateTime = #{row.updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{row.updateby,jdbcType=TIMESTAMP},
      IsDelete = #{row.isdelete,jdbcType=BIT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.coca.shoppingmbg.model.OmsOrderItem">
    update oms_order_item
    <set>
      <if test="orderId != null">
        Order_Id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        Order_No = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="skuid != null">
        SkuId = #{skuid,jdbcType=INTEGER},
      </if>
      <if test="skucode != null">
        SkuCode = #{skucode,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        Qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CreateBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UpdateBy = #{updateby,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        IsDelete = #{isdelete,jdbcType=BIT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coca.shoppingmbg.model.OmsOrderItem">
    update oms_order_item
    set Order_Id = #{orderId,jdbcType=INTEGER},
      Order_No = #{orderNo,jdbcType=VARCHAR},
      SkuId = #{skuid,jdbcType=INTEGER},
      SkuCode = #{skucode,jdbcType=VARCHAR},
      Qty = #{qty,jdbcType=INTEGER},
      Price = #{price,jdbcType=DECIMAL},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=TIMESTAMP},
      IsDelete = #{isdelete,jdbcType=BIT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>