<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coca.shoppingorderservice.mapper.OmsOrderItemMapper">
    <resultMap id="BaseResultMap" type="com.coca.shoppingmodel.entity.oms.OmsOrderItem">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
        <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
        <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
        <result column="product_quantity" jdbcType="INTEGER" property="productQuantity" />
        <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
        <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
        <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
        <result column="promotion_name" jdbcType="VARCHAR" property="promotionName" />
        <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount" />
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
        <result column="integration_amount" jdbcType="DECIMAL" property="integrationAmount" />
        <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
        <result column="gift_integration" jdbcType="INTEGER" property="giftIntegration" />
        <result column="gift_growth" jdbcType="INTEGER" property="giftGrowth" />
        <result column="product_attr" jdbcType="VARCHAR" property="productAttr" />
    </resultMap>
    <insert id="insertList">
        insert into oms_order_item (order_id, order_sn, product_id,
        product_pic, product_name, product_brand,
        product_sn, product_price, product_quantity,
        product_sku_id, product_category_id, product_sku_code,promotion_name,
        promotion_amount, coupon_amount, integration_amount,
        real_amount,product_attr) values
        <foreach collection="list" item="item" separator="," index="index">
            (#{item.orderId,jdbcType=BIGINT}, #{item.orderSn,jdbcType=VARCHAR}, #{item.productId,jdbcType=BIGINT},
            #{item.productPic,jdbcType=VARCHAR}, #{item.productName,jdbcType=VARCHAR}, #{item.productBrand,jdbcType=VARCHAR},
            #{item.productSn,jdbcType=VARCHAR}, #{item.productPrice,jdbcType=DECIMAL}, #{item.productQuantity,jdbcType=INTEGER},
            #{item.productSkuId,jdbcType=BIGINT}, #{item.productCategoryId,jdbcType=BIGINT}, #{item.productSkuCode,jdbcType=VARCHAR},
            #{item.promotionName,jdbcType=VARCHAR},
            #{item.promotionAmount,jdbcType=DECIMAL}, #{item.couponAmount,jdbcType=DECIMAL},
            #{item.integrationAmount,jdbcType=DECIMAL},
            #{item.realAmount,jdbcType=DECIMAL},#{item.productAttr,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>