<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coca.shoppingorderservice.mapper.OmsOrderMapper">
    <resultMap id="BaseResultMap" type="com.coca.shoppingmodel.entity.oms.OmsOrder">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="member_id" jdbcType="BIGINT" property="memberId" />
        <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
        <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="member_username" jdbcType="VARCHAR" property="memberUsername" />
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
        <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount" />
        <result column="promotion_amount" jdbcType="DECIMAL" property="promotionAmount" />
        <result column="integration_amount" jdbcType="DECIMAL" property="integrationAmount" />
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
        <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
        <result column="pay_type" jdbcType="INTEGER" property="payType" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="order_type" jdbcType="INTEGER" property="orderType" />
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
        <result column="delivery_sn" jdbcType="VARCHAR" property="deliverySn" />
        <result column="auto_confirm_day" jdbcType="INTEGER" property="autoConfirmDay" />
        <result column="integration" jdbcType="INTEGER" property="integration" />
        <result column="growth" jdbcType="INTEGER" property="growth" />
        <result column="promotion_info" jdbcType="VARCHAR" property="promotionInfo" />
        <result column="bill_type" jdbcType="INTEGER" property="billType" />
        <result column="bill_header" jdbcType="VARCHAR" property="billHeader" />
        <result column="bill_content" jdbcType="VARCHAR" property="billContent" />
        <result column="bill_receiver_phone" jdbcType="VARCHAR" property="billReceiverPhone" />
        <result column="bill_receiver_email" jdbcType="VARCHAR" property="billReceiverEmail" />
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
        <result column="receiver_post_code" jdbcType="VARCHAR" property="receiverPostCode" />
        <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
        <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
        <result column="receiver_region" jdbcType="VARCHAR" property="receiverRegion" />
        <result column="receiver_detail_address" jdbcType="VARCHAR" property="receiverDetailAddress" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="confirm_status" jdbcType="INTEGER" property="confirmStatus" />
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
        <result column="use_integration" jdbcType="INTEGER" property="useIntegration" />
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>
    <resultMap id="orderDetailMap" type="com.coca.shoppingmodel.dto.OmsOrderDetail"
               extends="com.coca.shoppingorderservice.mapper.OmsOrderMapper.BaseResultMap">
        <collection property="orderItemList" columnPrefix="ot_"
                    resultMap="com.coca.shoppingorderservice.mapper.OmsOrderItemMapper.BaseResultMap">
        </collection>
    </resultMap>
    <select id="getDetail" resultMap="orderDetailMap">
        SELECT
            o.id,
            o.order_sn,
            o.coupon_id,
            o.integration,
            o.member_id,
            ot.id ot_id,
            ot.product_name ot_product_name,
            ot.product_sku_id ot_product_sku_id,
            ot.product_sku_code ot_product_sku_code,
            ot.product_quantity ot_product_quantity
        FROM
            oms_order o
                LEFT JOIN oms_order_item ot ON o.id = ot.order_id
        WHERE
            o.id = #{orderId}
    </select>
    <select id="getTimeOutOrders" resultMap="orderDetailMap">
        SELECT
            o.id,
            o.order_sn,
            o.coupon_id,
            o.integration,
            o.member_id,
            o.use_integration,
            ot.id               ot_id,
            ot.product_name     ot_product_name,
            ot.product_sku_id   ot_product_sku_id,
            ot.product_sku_code ot_product_sku_code,
            ot.product_quantity ot_product_quantity
        FROM
            oms_order o
                LEFT JOIN oms_order_item ot ON o.id = ot.order_id
        WHERE
            o.status = 0
          AND o.create_time &lt; date_add(NOW(), INTERVAL -#{minute} MINUTE);
    </select>
    <update id="updateOrderStatus">
        update oms_order
        set status=#{status}
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateSkuStock">
        UPDATE pms_sku_stock
        SET
            stock = CASE id
            <foreach collection="itemList" item="item">
              WHEN #{item.productSkuId} THEN stock - #{item.productQuantity}
            </foreach>
            END,
            lock_stock = CASE id
            <foreach collection="itemList" item="item">
              WHEN #{item.productSkuId} THEN lock_stock - #{item.productQuantity}
            </foreach>
            END
        WHERE
            id IN
        <foreach collection="itemList" item="item" separator="," open="(" close=")">
            #{item.productSkuId}
        </foreach>
    </update>

    <update id="releaseSkuStockLock">
        UPDATE pms_sku_stock
        SET
        lock_stock = CASE id
        <foreach collection="itemList" item="item">
            WHEN #{item.productSkuId} THEN lock_stock - #{item.productQuantity}
        </foreach>
        END
        WHERE
        id IN
        <foreach collection="itemList" item="item" separator="," open="(" close=")">
            #{item.productSkuId}
        </foreach>
    </update>
</mapper>